{{define "components/ap/list"}}
<ul class="ap-list">
    {{range $ap := .}}
        <li class="card">
            <a href="/access-points/{{$ap.ID}}">{{$ap.Hostname}}</a>
            <span>{{$ap.Devices}} Devices</span>
            <img
                src="/logos/{{$ap.Vendor}}.svg"
                alt="{{$ap.Vendor}} Logo"
                title="{{$ap.Model}}"
            />
        </li>
    {{end}}
</ul>

<style>
    @layer component {
        ul.ap-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            li {
                position: relative;
                height: 200px;
                width: 250px;

                img {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    min-width: 30px;
                }
            }
            li, p {
                color: var(--text);
            }
        }
    }
</style>
{{end}}