{{define "monitors/disk"}}
{{range $disk := .}}
    <div class="disk-item">
        <p class="disk-text">
            {{$disk.Used}}GB / {{$disk.Total}}GB ({{$disk.Percent}}%)<br>
        </p>
        <div class="progress-bar">
            <div class="progress-fill" style="--width: {{$disk.Percent}}%"></div>
        </div>
        <small>{{$disk.Mount}} - {{$disk.Device}}</small>
    </div>
{{end}}

<style>
    @layer component {
        .disk-item {
            margin-bottom: 10px;
            
            strong {
                font-size: 0.9rem;
            }
            small {
                color:var(--text);
            }
        }
    }
</style>
{{end}}
