{{define "monitors/disk"}}
{{range $disk := .}}
    <div class="disk-item">
        <p class="disk-text">
            {{$disk.Used}}GB / {{$disk.Total}}GB ({{$disk.Percent}}%)<br>
        </p>
        <div class="progress-bar">
            <div class="progress-fill" style="--width: {{$disk.Percent}}%"></div>
        </div>
        <p>
            <small>{{$disk.Model}}</small>
            <span>{{$disk.Mount}} - {{$disk.Device}}</span>
        </p>
    </div>
{{end}}

<style>
    @layer component {
        .disk-item {
            margin-bottom: 10px;
            
            p {
                display: flex;
                flex-direction: column;

                span {
                    color:var(--text);
                }
            }
        }
    }
</style>
{{end}}
