{{define "components/printers/list"}}
<ul class="device-list">
    {{range $printer := .}}
        <li x-data='{{ $printer }}' >
            {{range $info := $printer}}
                {{if eq $info.Name "printer_model"}}
                    <a :href="/printers/{$info.Name}">{{$info.Value}}</a>
                    {{ break }}
                {{end}}
            {{end}}
        </li>
    {{end}}
</ul>

<style>
    @layer component {
        ul.device-list {
            li {
                border-bottom: 2px solid var(--text);
            }
            li, p {
                color: var(--text);
            }
        }
    }
</style>
{{end}}