body {
    --bg: #0f172a;
    --card-bg: #1e293b;
    --text: #f8fafc;
    --accent: #38bdf8;
    --danger: #ef4444;
}
body.light {
    --bg: #f8fafc;
    --card-bg: #d3d3d3;
    --text: #0f172a;
    --accent: #38bdf8;
    --danger: #ef4444;
}
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: var(--bg); 
    color: var(--text); 
    margin: 0; padding: 20px; 
}
h1 {
    text-align: center;
    color: var(--accent);
    margin-bottom: 30px;
}
h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: var(--accent);
    border-bottom: 1px solid #334155;
    padding-bottom: 10px;
}
h2.card-name {
    color: var(--text);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.grid > section > h2 {
    display: flex;
    justify-content: space-between;
}
.card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.3);
}
.progress-bar {
    position: relative;
    background-color: #334155;
    border-radius: 10px;
    height: 20px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}
.progress-fill {
    background-color: var(--accent);
    height: 100%;
    width: 100%;
    transition: width 0.5s linear;
}
