{{range $cpu := .}}
    <div
        class="cpu-item"
        x-data="{ usage: {{$cpu.Usage}} }"
        :style="{'--color': usage > 90 ? '#451a1a' : '#334155'}">
        <p>
            <span>C{{$cpu.Core}}</span>
            <span>{{$cpu.Usage}}%</span>
        </p>
    </div>
{{end}}

<style>
    @layer component {
        #cpu-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
            gap: 5px;

            .cpu-item {
                text-align: center;
                font-size: 0.7rem;
                padding: 5px;
                border-radius: 4px;
                background-color: var(--progress);

                p {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 1rem;
                    }
                    span:last-of-type {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
</style>
