<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{.Title}}</title>
        <meta name="description" content="{{.Message}}">

        <link rel="icon" href="/icon.png">
        <link rel="stylesheet" href="/style.css"/>
        <script defer async src="/htmx.js"></script>
    </head>
    <body>
        <h1>PC MONITORING</h1>
        <main class="grid">
            <!-- CPU Section -->
            <section class="card" hx-get="/cpu" hx-target="#cpu-container" hx-trigger="every 1s">
                <h2>CPU Usage</h2>
                <article id="cpu-container">Loading cores...</article>
            </section>
            <!-- RAM Section -->
            <section class="card" hx-get="/memory" hx-target="#ram-container" hx-trigger="every 1s">
                <h2>Memory (RAM)</h2>
                <article id="ram-container">Loading Memory...</article>
            </section>
            <!-- GPU Section -->
            <section class="card" hx-get="/gpu" hx-target="#gpu-container" hx-trigger="every 1s">
                <h2>GPU & VRAM</h2>
                <article id="gpu-container">Loading GPUs...</article>
            </section>
            <!-- Disk Section -->
            <section class="card" hx-get="/disk" hx-target="#disk-container" hx-trigger="every 1s">
                <h2>Storage (Disks)</h2>
                <article id="disk-container"></article>
            </section>
        </main>
    </body>
</html>